.card-text {
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 992px) {
  .guide-width {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .guide-text {
    font-size: 1.2em;
  }
}



#timeLeft {
  color: #FFFFFF;
  font-weight: 400;
  margin: 40px 0px 40px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 50px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
